-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
django==4.2
sqlparse==0.4.3 ; python_version >= '3.5'
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
charset-normalizer
django-extensions
django-restframework
djangorestframework_simplejwt
exceptiongroup
frozenlist
greenlet
h11
httpcore
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
langsmith
multidict
numpy
orjson
packaging
propcache
pydantic
pydantic_core
PyYAML
requests
requests-toolbelt
sniffio
SQLAlchemy

tenacity
typing_extensions
tzdata
urllib3
yarl
