-i https://pypi.org/simple
asgiref==3.6.0 ; python_version >= '3.7'
django==4.2
sqlparse==0.4.3 ; python_version >= '3.5'
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
APScheduler

async-timeout
attrs
Brotli
certifi
charset-normalizer
colorama
dataclasses-json
distro

django-environ
django-extensions
djangorestframework
djangorestframework_simplejwt
exceptiongroup
faiss-cpu
filelock
frozenlist
fsspec
git-filter-repo
gmpy2
greenlet
h11
httpcore
httpx
httpx-sse
idna
Jinja2
jiter
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mkl-service
mkl_fft
mkl_random
mpmath
multidict
mypy-extensions
networkx
numpy
openai
orjson
packaging
pandas
pillow
propcache
pydantic
pydantic-settings
pydantic_core
PyJWT
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
six
sniffio
SQLAlchemy

sympy
tenacity
tiktoken
toposort
torch
torchaudio
torchvision
tqdm
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
win-inet-pton
yarl
