<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}기본 제목{% endblock %}</title>
    <!-- CSS와 JS 링크 등 추가 -->
</head>
<body>
    <header>
        <nav>
            <!-- 여기에 사이트의 공통 내비게이션 등을 추가 -->
            <a href="/">홈</a>
            <a href="/accounts/signup/">회원가입</a>
            <a href="/accounts/login/">로그인</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- 각 페이지에 해당하는 콘텐츠가 이 부분에 들어옵니다. -->
        {% endblock %}
    </main>

    <footer>
        <!-- 푸터 내용 -->
        <p>2025 @ 회사 이름</p>
    </footer>
</body>
</html>
